body { background: #b6509e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-uploader-0 { color: #9efcf6; font-size: 13px; margin-bottom: 5px; }
.block-session-1 { color: #c8a5dc; font-size: 18px; margin-bottom: 5px; }
.block-router-2 { color: #f3f68e; font-size: 19px; margin-bottom: 5px; }
.block-product-3 { color: #d80e33; font-size: 16px; margin-bottom: 5px; }
.block-product-4 { color: #e7a894; font-size: 17px; margin-bottom: 5px; }
.block-search-5 { color: #9dfda1; font-size: 15px; margin-bottom: 5px; }
.block-cache-6 { color: #a8109e; font-size: 17px; margin-bottom: 5px; }
.block-notify-7 { color: #d73ac8; font-size: 12px; margin-bottom: 5px; }